---
import Layout from "@/layouts/layout-year.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const years = await getCollection("years");
  return years.map((year) => ({
    params: { year: year.id },
    props: { year },
  }));
}

const { year } = Astro.props;
const { Content } = await render(year);

// Get and filter participants and projects by year
const participants = await getCollection(
  "participants",
  ({ data }) => data.year === year.data.year
);
const projects = await getCollection(
  "projects",
  ({ data }) => data.year === year.data.year
);
---

<Layout
  title={`${year.data.title} - Haystack Labs`}
  description={year.data.description || `Information about ${year.data.title}`}
>
  <section class="section">
    <div class="wrapper">
      <h2 class="title">Haystack Labs {year.data.title}</h2>
      <div class="summary">
        <Content />
        <div class="dates">
          <p>
            {year.data.start.toLocaleDateString()} -{" "}
            {year.data.end.toLocaleDateString()}
          </p>
        </div>
      </div>

      <div class="grid grid--2col">
        {
          participants.length > 0 && (
            <section class="participants">
              <h2>Participants</h2>
              <div class="col">
                {participants.map((participant) => (
                  <article>
                    <h3>
                      <a href={`/participants/${participant.id}`}>
                        {participant.data.name}
                      </a>
                    </h3>
                  </article>
                ))}
              </div>
            </section>
          )
        }

        {
          projects.length > 0 && (
            <section class="projects">
              <h2>Projects</h2>
              <div class="col">
                {projects.map((project) => (
                  <h3>
                    <a href={`/projects/${project.id}`}>{project.data.title}</a>
                  </h3>
                ))}
              </div>
            </section>
          )
        }
      </div>
    </div>
  </section>
</Layout>

<style>
  h2 {
    text-align: left;
    color: var(--color-golden-yellow);
    margin-bottom: var(--space-sm);
    font-weight: var(--font-weight-thin);
  }

  h3 {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-thin);
    margin-bottom: var(--space-sm);
    a {
      text-decoration: none;
      color: var(--color-text-primary-dark);
      &:hover {
        color: var(--color-golden-yellow);
      }
    }
  }
</style>
